body {
    background-image: url("images/bacgr.jpg"); /* Assure-toi que le chemin est correct */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    backdrop-filter: blur(5px);
}
.card {
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
}


.card-text {
    font-size: 0.9rem;
    color: #555;
}


.card-title {
    font-size: 1.25rem;
    font-weight: bold;
    color: #333;
}